.chart {
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
